= semantic_form_for [:admin, @configuration] do |f|
  = f.inputs do
    - @config_items.each do |title, value|
      = f.input :data, as: :serialized, attr: title.to_sym, label: title.dup, input_html: { value: value }

  = f.actions